
  
  .stagger-visualizer .dots-wrapper {
    background: white;
    transform: translateX(-10px) rotate(0) scale(0, 0);
    width: 50px;
    height: 10px;
    display: block;
    transition: 4s transform linear;
    border: black 1px solid;
  }

  .stagger-visualizer .dots-wrapper.spin{
    transform: translateX(0) rotate(360deg) scale(1, 1);
  }
  