a {
    color: black;
    font-weight: bolder;
  }
  a:hover(:not(.gradient-button)) {
    color: #fdd3ae;
  }
 
   .navbar {
    background-color: #32B3BB;
    word-wrap: normal;
    
  }

  #navbar {
    width: 100%;
  }